.idea/
.github/
.scannerwork/
__tests__/
dist/__tests__/
build-scripts/
src/
node_modules/
coverage/
sonar.sh
tsconfig.json
tslint.json
*.yml
webpack.*.js
*config.js
*.tgz
.gitignore
sonar-project.properties
*.json
*.properties
*.sh
 .huskyrc